<h1 style="font size:10rem;font color:blue;"> 22103216
<h1 style="font size:10rem;font color:blue;"> SAI RAJ SINGH
<h1 style="font size:10rem;font color:blue;"> OSS EVALUATION 1

In [27]:
students={}
def add_student(name, student_id, student_class,grades):
    student={}
    if student_id in students:
        print("student already exists")
        return 
    students[student_id]={
        "name":name,
        "student_class":student_class,
        "grades":grades
    }

add_student("sai",2210,"class 12",[50,23,56,45])
print(students)
add_student("mittal",2211,"class 12",[80,45,75,89])
print(students)

{2210: {'name': 'sai', 'student_class': 'class 12', 'grades': [50, 23, 56, 45]}}
{2210: {'name': 'sai', 'student_class': 'class 12', 'grades': [50, 23, 56, 45]}, 2211: {'name': 'mittal', 'student_class': 'class 12', 'grades': [80, 45, 75, 89]}}

In [32]:
def update_grades(student_id,grades):
    if student_id in students:
        students[student_id]["grades"]=grades
        
update_grades(2210,[85,78,69,90])
print(students)
update_grades(2211,[76,87.90,45])
print(students)

{2210: {'name': 'sai', 'student_class': 'class 12', 'grades': [85, 78, 69, 90]}, 2211: {'name': 'mittal', 'student_class': 'class 12', 'grades': [85, 78, 69, 90]}}
{2210: {'name': 'sai', 'student_class': 'class 12', 'grades': [85, 78, 69, 90]}, 2211: {'name': 'mittal', 'student_class': 'class 12', 'grades': [76, 87.9, 45]}}

In [40]:
def calculate_average(student_id):
    if student_id in students:
        return sum(students[student_id]["grades"])/len(students[student_id]["grades"])

print(calculate_average(2210))

80.5